@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0px;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
