# PORT
PORT=3001

## jwt token
JWT_SECRET="secret"

# database for localhost development 
POSTGRES_DATABASE="memoir_db"
POSTGRES_USER="memoir_user"
POSTGRES_PASSWORD="memoir_password"

# database for production - you can leave these variables on blank if youre developing on localhost
DATABASE_URL="my-url"

# enviroment
NODE_ENV="development"

# config for cors
WEB_DOMAIN="https://localhost:3000"

# the url of the api running on localhost - used for testing - you can leave this
API_URL="http://localhost:3001"
